<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="https://www.sellinglater.com">
  <img alt="Selling Later" src="public/images/logo.png"
    width="150" height="70">
  </a>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
 <button onclick="openLoginForm()">Sign In</button>
 <button onclick="openRegisterForm()">Sign Up</button>
</header>
  
<div class="wrapper">
  <header>
    <button type="button">Tell Buyers Now</button>
    <button type="button">Learn How To Save</button>
  </header>
</div>

<body>
  <section>
    <main>
      <h2> Connect, learn, and save money with the help of other future sellers and buyers</h2>
    </main>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tell Buyers When You're Selling</h5>
        <p class="card-text"> Future homebuyers are already on the hunt online.  Tell them now when you are selling.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Save Money</h5>
        <p class="card-text"> Get monthly tips on how to save money before you sell.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Get Prepared</h5>
        <p class="card-text"> Use our unbiased resources to learn about buying or selling before you hit the market.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Data Privacy</h5>
        <p class="card-text"> The industry made $10 billion by selling your data last year.  We think that money belongs to you.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Directly Connect</h5>
        <p class="card-text">All inquiries are sent directly to the homeowner and are never filtered through real estate agents.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Made For You</h5>
        <p class="card-text">We are frustrated consumers, not agents, on a mission to make real estate affordable, accessible and transparent.</p>
      </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    </div>
  </section>

  <div>
    <h3>Free monthly plans and money savings tips</h3>
    <h4>to help you prepare to buy or sell</h4>
    <form action="https://google.com">
        <input type="submit" value="Join and save" />
    </form>    
  </div>

</body>

<footer>
  <a href="https://www.sellinglater.com">
  <img alt="Selling Later" src="public/images/logo.png"
    width="150" height="70">
  </a>
  <div class = "signup-bar">   
</footer>

<script src=".../public/javascript/login.js"></script>
<script src=".../public/javascript/register.js"></script>
