<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="default.asp">Selling Later Logo</a>
  <div class = "signup-bar">    
    <button onclick="openLoginForm()">Sign In</button>
    <button onclick="openRegisterForm()">Sign Up</button>
  </div>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
  
  <div class="wrapper">
    <header>
      <button type="button">Tell Buyers Now</button>
      <button type="button">Learn How To Save</button>
    </header>
  </div>
</header>


<div>
    <div class="register-form-popup" id="registerForm">
      <form action="/action_page.php" class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email </b></label>
        <input type="text" placeholder="Enter Email" id="email" name="email" required>

        <label for="un"><b>Username </b></label>
        <input type="text" placeholder="Enter Username" id="un" name="un" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="newPsw" name="newPsw" required>

        <label for="address"><b>Address</b></label>
        <input type="address" placeholder="Enter Address" id="address" name="address" required>

        <label for="zip"><b>Zip</b></label>
        <input type="zip" placeholder="Enter Zip Code" id="zip" name="zip" required>

        <label for="pFloor"><b>Price Floor</b></label>
        <input type="pFloor" placeholder="Enter Selling Price Floor" id="pFloor" name="pFlor" required>

        <label for="pCeiling"><b>Price Ceiling</b></label>
        <input type="pCeiling" placeholder="Enter Selling Price Ceiling" id="pCeiling" name="pCeiling" required>

        <label for="sMonth"><b>Sell Month</b></label>
        <input type="sMonth" placeholder="Enter Anticipated Selling Month" id="sMonth" name="sMonth" required>

        <label for="beds"><b>Bedrooms</b></label>
        <input type="beds" placeholder="Enter Number of Bedrooms" id="beds" name="beds" required>

        <label for="baths"><b>Bathrooms</b></label>
        <input type="baths" placeholder="Enter Number of Bathrooms" id="baths" name="baths" required>

        <button type="submit" class="btn">Sign Up</button>
        <button type="button" class="btn cancel" onclick="closeRegisterForm()">Close</button>
      </form>
    </div>
</div>