<header>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>
</header>
<section class="main">
    <article>
        <h2>
            List a property
        </h2>
        <form class="hpost-form">
            <div>
                <div>{{hpost.image}} </div>
                <input name="hpost-address" type="text" value="{{hpost.address}}" />
            </div>
            <button type="submit">Save post</button>
            <button type="button" class="delete-post-btn">Delete post</button>
        </form>
    </article>
</section>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>