<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="/">
  <img alt="Selling Later" src="/images/logo.png"
    width="150" height="70">
  </a>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
 <button onclick="openLoginForm()">Sign In</button>
 <button onclick="openRegisterForm()">Sign Up</button>
</header>

<div class = "post-fields">
    <form>
        <h3>Build a house post</h3>

        <label for="address"><b>Address</b></label>
        <input type="address" placeholder="Enter Address" id="address" name="address" >

        <label for="zip"><b>Zip</b></label>
        <input type="zip" placeholder="Enter Zip Code" id="zip" name="zip" >

        <label for="pFloor"><b>Price Floor</b></label>
        <input type="pFloor" placeholder="Enter Selling Price Floor" id="pFloor" name="pFlor" >

        <label for="pCeiling"><b>Price Ceiling</b></label>
        <input type="pCeiling" placeholder="Enter Selling Price Ceiling" id="pCeiling" name="pCeiling" >

        <label for="sMonth"><b>Sell Month</b></label>
        <input type="sMonth" placeholder="Enter Anticipated Selling Month" id="sMonth" name="sMonth" >

        <label for="sqft"><b>Square Feet</b></label>
        <input type="sqft" placeholder="Enter Square Feet" id="sqft" name="sqft" >  

        <label for="beds"><b>Bedrooms</b></label>
        <input type="beds" placeholder="Enter Number of Bedrooms" id="beds" name="beds" >

        <label for="baths"><b>Bathrooms</b></label>
        <input type="baths" placeholder="Enter Number of Bathrooms" id="baths" name="baths" >

        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>

<footer>
  <a href="/">
  <img alt="Selling Later" src="/images/logo.png"
    width="150" height="70">
  </a>
  <div class = "signup-bar">   
</footer>