
{{!-- land on home page with button to login, login will take you to search houses--}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selling Later</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
  <a href="default.asp">Selling Later Logo</a>
  <div class = "signup-bar">    
    <button onclick="openLoginForm()">Sign In</button>
    <button onclick="openRegisterForm()">Sign Up</button>
  </div>
  <ul class = "nav-bar">
    <li><a href="default.asp">View Homes</a></li>
    <li><a href="default.asp">Save</a></li>
    <li><a href="default.asp">How It Works</a></li>
    <li><a href="default.asp">Learn</a></li>
    <li><a href="default.asp">Stories</a></li>
  </ul>
</header>



<ol class="hpost-list">
  {{#each hposts as |hpost|}}
  <li>
    {{> hpost-info hpost }}
  </li>
  {{/each}}
</ol>