*{
  font-family: 'Dosis', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
header {
  display: flex;
  align-items: center;

}
h2 h5 {
  text-align: center;
}

/* The navigation bar */
.nav-bar {
  list-style-type: none;
  display: flex;
    /* overflow: hidden; */
    /* background-color: rgb(240, 235, 235); */
    /* position: fixed; Set the navbar to fixed position */
    /* top: 0; Position the navbar at the top of the page */}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .nav-bar a {
    /* float: left; */
    display: block;
   
    color: #3f3d3d;
    text-align: center;
    padding: 14px 16px;
    
    

  }
  
  /* Change background on mouse-over */
  .nav-bar a:hover {
  
    float: left;
    display: block;
    background-color: rgba(145, 197, 49, 0.874);
    color: black;
    text-align: center;
   
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  /* .navbar a:hover {

  
  } */
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

  {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.logininfo{
  position: relative;
  left: 300px;
  height: max-content;
  width: 100px;
  background-color: #66d4ac;

}

.buyerinfo{
  position: relative;
  bottom: 150px;
  background-color: transparent;
  color: #f1f1f1;
height: 150px;
width: 300px;
}
.delete-hpost-btn{
  background-color: rgb(23, 24, 23);
  color: #f1f1f1;
height: 150px;
width: 300px;
}
.new-listing-form{
  background-color: rgba(145, 197, 49, 0.874);
 

}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.sec-head{
  text-align: center;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.card {
  flex-basis: 25%;
  margin-bottom: 16px;
  flex-basis: calc(25% - 10px);
  margin-left: 40px;
  margin-bottom: 16px;
  text-align: center;
  width: 300px;
  height: 400px;
  color: rgb(23, 24, 23);
  background-color:rgba(145, 197, 49, 0.874);
  padding: 10px 10px 10px 10px;
}

.card-title{

  text-align: center;
  color: #3e4140;
}

.cardcontainer{
  display: flex;
  flex-wrap: wrap;
 border-style: double;
 border-color: #555;
  text-align: center;
}

.card-body{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-align: center;
}
.card-text{
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -10px;
  padding: 0 10px;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;

}

.card-text:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;

}

.card h5{
  text-align: center;

}
.card-img-bottom{
 position: relative;
top: 100px;
}
.plancontainer{

  margin: 20px 20px 20px 20px;
 
  background-color: rgba(145, 197, 49, 0.874);
  text-align: center ;
  width: 1250px;
  height: 300px;


}

.joinbutton {
  position: relative;
  top: 100px;
  text-align: center;
  background-color: white;
  color: #302f2f;
height:50px;
width:200px;


}
.new-listing-form{
  display: flex;
}

.signup-bar{
  display: block;
  color: greenyellow;
  text-align: center;
}
.all-hposts{
  display: block;  
  grid-template-columns: 100px;
  text-align: center;
  /* flex-basis: 25%; */
  margin-bottom: 16px;
  /* flex-basis: calc(25% - 10px); */
  margin-left: 40px;
  margin-bottom: 16px;
  text-align: center;
  width: 1000px;
  height: 2400px;
  color: rgb(23, 24, 23);
  background-color:rgba(145, 197, 49, 0.874);
  padding: 10px 10px 10px 10px;
}
.searchpost{
  display: flex;
  grid-template-columns: 100px;
}
